# 1. Forzar React 18 (Vital para Next.js 15 + RN Web)
public-hoist-pattern[]=react@18.3.1
public-hoist-pattern[]=react-dom@18.3.1

# 2. Infraestructura de React Native
# Babel necesita ver estos paquetes en la raíz, si no, explota.
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*reanimated*
public-hoist-pattern[]=*worklets*
public-hoist-pattern[]=*nativewind*
public-hoist-pattern[]=*css-interop*

# 3. Tailwind CSS v3 (homologado en todo el monorepo)
# Ahora que todo usa v3, podemos hoistearlo sin problemas
public-hoist-pattern[]=*tailwindcss*

# 4. Modo "Vergüenza" (Recomendado para React Native en monorepos)
shamefully-hoist=true
